@media only screen and (min-width: 750px) {
  .grid {
    height: 75vh;
  }

  .card {
    display: flex;
    flex-direction: row;
  }

  .card.reverse {
    flex-direction: row-reverse;
  }

  .card_img {
    width: 250px;
  }

  .card_title {
    flex-direction: row !important;
    justify-content: space-between;
  }

  .card_buttons {
    align-self: flex-end;
  }

  .card.reverse .card_buttons {
    align-self: start;
  }
}

