*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* font: inherit; */
}

/* html { color-scheme: dark light; }  - dark mode default*/

body {
    min-height: 100vh;
}

/* make pictures and videos responsive */
img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* annoying elements that dont inherit font */
input, textarea, button, select {
    font: inherit;
}

/* links */
a {
	text-decoration: none;
	color: inherit;
}
