@import './resets.css';
@import './media.css';
@font-face {
  font-family: "DOS";
  src: url('../DOS_VGA_font.woff');
}

.theme {
	--bg_primary: #282a36;
	--bg_front: #44475a;
	--bg_back: #1d1f26;
	--text_primary: #ff79c6;
	--text_secondary: #bd93f9;
	--text_third: #8be9fd;
	--text_accent: #50fa7b;
	--text_misc: #f1fa8c;
	--text_tag: #fff;
	--title_color: var(--text_secondary);
}

:root {
--card_margin: 5px;
  font-size: 20px;
  font-family: 'DOS';
}

* {
  /* outline: 1px solid green;  */
}

body {
	background-color: var(--bg_primary);
	color: var(--text_primary);
}

.window {
  padding: 22px;
  text-align: center;
	padding-top: 15px;
}

.panel {
  margin-top: 20px;
	text-align: left;
	color: var(--text_primary);
	background: var(--bg_front);
	display: inline-block;
	box-shadow: 10px 10px #000;
}

.panel_header {
  position: relative;
  background: var(--bg_back);
  color: var(--text_secondary);
  padding: 4px 10px;
  display: block;
  text-align: center;
}

.panel_content {
  padding: 12px;
	border: 1px solid var(--bg_back);
}

.grid {
	max-width: 1080px;
  height: 78vh;
  overflow-y: scroll;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.grid_item {
  border: 6px double var(--text_secondary);
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 6px;
}

.card {
}

.card.reverse {
}

.card_img {
  height: 100%;
  /* width: 250px; */
  border: 2px solid var(--text_primary);
}

.card_title {
  display: flex;
  flex-direction: column;

  color: var(--text_third);
  font-size: 1.2rem;
	border-bottom: 2px solid var(--text_secondary);
  margin-top: 15px;
  margin-right: var(--card_margin);
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: var(--card_margin);
  width: 100%;
}

.card.reverse .card_content {
  margin-left: 0;
  margin-right: 10px;
}

.card_text {
  display: flex;
  flex-direction: column;
}

.card_tags {
  color: var(--bg_front);
}

.card_tags span {
  padding: 0 5px;
  text-align: center;
  background-color: var(--text_secondary);
}

.card_buttons {
  align-self: flex-end;
}

.btn {
  /* outline: 0; */
  font-size: 1rem;
  padding: 5px 10px;
  margin-top: 15px;
  background-color: var(--text_secondary);
  color: #000;
  border: none;
  text-align: center;
  box-shadow: 4px 5px #000;
}

.btn:hover {
  background-color: var(--text_third);
  cursor: pointer;
}

.minimise_maximise_close {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 7px;
  margin-right: 5px;
}

.minimise_maximise_close svg {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

.minimise svg {
  fill: #50fa7b;
}

.maximise svg {
  fill: #f1fa8c;
}

.close svg {
  fill: #ff5555;
}

.panel_header i {
  align-self: center;
}
